  <nav class="black">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Users todos</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Desks</a></li>
        <li><a href="/create">Create</a></li>
      </ul>
    </div>
  </nav>