<form action="/create" method="POST">
    <input type="hidden" name="_id" value="{{user._id}}">
    <h1>{{title}}</h1>
    <div class="input-field">
        <input type="text" name="username">
        <label>Username</label>
    </div>

    <button type="submit" class="btn">Submit</button>
</form>

