<form action="/create" method="POST">
    <h1>Create user desk</h1>
    <div class="input-field">
        <input type="text" name="username">
        <label>Username</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>

