<h1>Users page</h1>

{{#if users.length}}
<ul>
    {{#each users}}
        <li class="user">
            <label>
                <span id="username">{{username}}</span>
                <a href="/{{this._id}}" class="waves-effect waves-light btn-large" id="edit">Edit</a>
                <a href="/delete/{{this._id}}" onclick="return confirm('Are u sure to del?');" class="waves-effect waves-light btn-large" id="delete">Delete</a>
            </label>
        </li>
    {{/each}}
</ul>
{{else}}
<p>Users list is empty :(</p>
{{/if}}